@import url(common/reset.css);

.container{
    width: 100%;
}

.container .shop{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}

.container .shop .shop-menu{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
}
.container .shop .shop-menu .item-select ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

.container .shop .shop-con{
    width: 100%;
    /* flex: 0 1 1600px; */
    border: 1px solid;
    box-sizing: border-box;
}

.container .shop .shop-con ul{
    border: 1px solid;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(400px, auto);
    gap: 10px;
    row-gap: 70px;
}   

.container .shop .shop-con ul li{
    border: 1px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .shop .shop-con ul li .bottom-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .shop .shop-menu .item-select ul li:nth-child(1){
    border-radius: 10px 100px / 84px;
    border: 1px solid;
    box-sizing: border-box;
    
}
.container .shop .shop-menu .item-select ul li:nth-child(2){
    border-radius: 10px 100px / 84px;
    border: 1px solid;
    box-sizing: border-box;
    
}
.container .shop .shop-menu .item-select ul li:nth-child(3){
    border-radius: 10px 100px / 84px;
    border: 1px solid;
    box-sizing: border-box;
    
}
.container .shop .shop-menu .item-select ul li:nth-child(4){
    border-radius: 10px 100px / 84px;
    border: 1px solid;
    box-sizing: border-box;
    
}
.container .shop .shop-menu .item-select ul li:nth-child(1) a{
      margin: 10px;
}
.container .shop .shop-menu .item-select ul li:nth-child(2) a{
      margin: 10px;
}
.container .shop .shop-menu .item-select ul li:nth-child(3) a{
      margin: 10px;
}
.container .shop .shop-menu .item-select ul li:nth-child(4) a{
      margin: 10px;
}

